.container {
  position: relative;
  width: 20rem;
  min-height: 1.5rem;
  border: .05rem solid #777;
  display: flex;
  align-items: center;
  gap: .5rem;
  padding: .5rem;
  border-radius: .25rem;
  outline: none;
}

.container:focus {
  border-color: hsl(200, 100%, 50%);
}

.value {
  flex-grow: 1;
  cursor: pointer;
  display: flex;
  gap: .5rem;
  flex-wrap: wrap;
}

.close-btn {
  background: none;
  color: #777;
  outline: none;
  border: none;
  font-size: 1.25rem;
  padding: 0;
  cursor: pointer;
}

.close-btn:hover,
.close-btn:hover {
  color: #333;
}

.devider {
  background-color: #777;
  width: .05rem;
  align-self: stretch;
}

.caret {
  translate: 0 25%;
  border: .25rem solid transparent;
  border-top-color: #777;
  cursor: pointer;
}

.caret:hover {
  border-top-color: #333;
}

.options {
  display: none;
  padding: 0;
  margin: 0;
  list-style: none;
  max-height: 15rem;
  overflow-y: auto;
  width: 100%;
  border-radius: .25rem;
  position: absolute;
  top: calc(100% + .25rem);
  left: 0;
  border: .05rem solid #777;
  background-color: white;
  z-index: 10;
}

.option {
  cursor: pointer;
  padding: .25rem .5rem;
}

.selected {
  color: white;
  background-color: hsl(200, 100%, 70%);
}

.highlighted {
  color: white;
  background-color: hsl(200, 100%, 50%);
}

.active {
  display: block;
}

.badge {
  display: flex;
  align-items: center;
  gap: .05rem;
  background: none;
  outline: none;
  padding: .15rem .25rem;
  border: .05rem solid #777;
  border-radius: .25rem;
}

.badge:hover,
.badge:focus {
  background: hsl(0, 70%, 90%);
  border-color: hsl(0, 100, 50%);
}

.badge:hover>.remove-btn,
.badge:focus>.remove-btn {
  color: rgb(245, 84, 84)
}

.badge>.remove-btn {
  font-size: 1.2rem;
  color: #777;
}